# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
env/
.venv/
ENV/
env.bak/
venv.bak/

# Archivos de configuración ocultos
*.env
.env/

# Base de datos SQLite
*.sqlite3
db.sqlite3

# Archivos de log
*.log

# Archivos de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales o de respaldo
*.bak
*.swp
*.tmp

# Carpetas de archivos generados por Django
/media/
staticfiles/
static/

# Migraciones si deseas ignorarlas (opcional)
# **Ten cuidado con esta línea si quieres versionar las migraciones**
# */migrations/
# !*/migrations/__init__.py
"venv/" 
